<% if params[:controller] == 'submissions_preview' %>
  <%= render 'submissions/preview_tags' %>
<% end %>
<% font_scale = 1040.0 / PdfUtils::US_LETTER_W %>
<% configs = AccountConfig.where(account_id: @submission.account_id, key: [AccountConfig::COMBINE_PDF_RESULT_KEY, AccountConfig::WITH_SIGNATURE_ID, AccountConfig::WITH_SUBMITTER_TIMEZONE_KEY, AccountConfig::WITH_SIGNATURE_ID_REASON_KEY]) %>
<% with_signature_id = configs.find { |e| e.key == AccountConfig::WITH_SIGNATURE_ID }&.value == true %>
<% is_combined_enabled = configs.find { |e| e.key == AccountConfig::COMBINE_PDF_RESULT_KEY }&.value == true && !@submission.template_fields&.any? { |f| f['type'] == 'verification' } %>
<% with_submitter_timezone = configs.find { |e| e.key == AccountConfig::WITH_SUBMITTER_TIMEZONE_KEY }&.value == true %>
<% with_signature_id_reason = configs.find { |e| e.key == AccountConfig::WITH_SIGNATURE_ID_REASON_KEY }&.value != false %>
<div style="max-width: 1600px" class="mx-auto pl-4">
  <div class="flex justify-between py-1.5 items-center pr-4 sticky top-0 md:relative z-10 bg-base-100">
    <a href="<%= signed_in? && @submission.account_id == current_account&.id && @submission.template ? template_path(@submission.template) : '/' %>" class="flex items-center space-x-3 py-1">
      <span><%= render 'submissions/logo' %></span>
      <span class="text-xl md:text-3xl font-semibold focus:text-clip" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;"><% (@submission.name || @submission.template.name).split(/(_)/).each do |item| %><%= item %><wbr><% end %></span>
    </a>
    <div class="space-x-3 flex items-center">
      <% last_submitter = @submission.submitters.to_a.select(&:completed_at?).max_by(&:completed_at) %>
      <% is_all_completed = @submission.submitters.to_a.all?(&:completed_at?) %>
      <% if signed_in? && can?(:create, @submission) && @submission.archived_at? && !is_all_completed %>
        <%= button_to button_title(title: t('unarchive'), disabled_with: t('unarchive')[0..-2], icon: svg_icon('rotate', class: 'w-6 h-6')), submission_unarchive_index_path(@submission), class: 'btn btn-primary btn-ghost text-base hidden md:flex' %>
      <% end %>
      <% if @submission.audit_trail.present? %>
        <a href="<%= ActiveStorage::Blob.proxy_url(@submission.audit_trail.blob, expires_at: 4.hours.from_now) %>" class="white-button" target="_blank">
          <%= svg_icon('external_link', class: 'w-6 h-6') %>
          <span class="hidden md:inline"><%= t('audit_log') %></span>
        </a>
      <% elsif signed_in? %>
        <%= link_to submission_events_path(@submission), class: 'white-button', data: { turbo_frame: :modal } do %>
          <%= svg_icon('logs', class: 'w-6 h-6') %>
          <span class="hidden md:block"><%= t('event_log') %></span>
        <% end %>
      <% end %>
      <% if last_submitter %>
        <% if is_all_completed || !is_combined_enabled %>
          <div class="join relative">
            <download-button data-src="<%= submitter_download_index_path(last_submitter.slug, { sig: params[:sig], combined: is_combined_enabled }.compact) %>" class="base-button <%= '!rounded-r-none !pr-2' if is_all_completed && !is_combined_enabled %>">
              <span class="flex items-center justify-center space-x-2" data-target="download-button.defaultButton">
                <%= svg_icon('download', class: 'w-6 h-6') %>
                <span class="hidden md:inline"><%= t('download') %></span>
              </span>
              <span class="flex items-center justify-center space-x-2 hidden" data-target="download-button.loadingButton">
                <%= svg_icon('loader', class: 'w-6 h-6 animate-spin') %>
                <span class="hidden md:inline"><%= t('downloading') %></span>
              </span>
            </download-button>
            <% if is_all_completed && !is_combined_enabled %>
              <div class="dropdown dropdown-end">
                <label tabindex="0" class="base-button !rounded-l-none !pl-1 !pr-2 !border-l-neutral-500">
                  <span class="text-sm align-text-top">
                    <%= svg_icon('chevron_down', class: 'w-6 h-6 flex-shrink-0 stroke-2') %>
                  </span>
                </label>
                <ul tabindex="0" class="z-10 dropdown-content p-2 mt-2 shadow menu text-base bg-base-100 rounded-box text-right">
                  <li>
                    <download-button data-src="<%= submitter_download_index_path(last_submitter.slug, { sig: params[:sig], combined: true }.compact) %>" class="flex items-center">
                      <span class="flex items-center justify-center space-x-2" data-target="download-button.defaultButton">
                        <%= svg_icon('download', class: 'w-6 h-6 flex-shrink-0') %>
                        <span class="whitespace-nowrap"><%= t('download_combined_pdf') %></span>
                      </span>
                      <span class="flex items-center justify-center space-x-2 hidden" data-target="download-button.loadingButton">
                        <%= svg_icon('loader', class: 'w-6 h-6 animate-spin') %>
                        <span><%= t('downloading') %></span>
                      </span>
                    </download-button>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      <% elsif @submission.submitters.to_a.size == 1 && !@submission.expired? && !@submission.submitters.to_a.first.declined_at? && !@submission.archived_at? %>
        <%= render 'shared/clipboard_copy', text: submit_form_url(slug: @submission.submitters.to_a.first.slug, host: form_link_host), class: 'base-button', icon_class: 'w-6 h-6 text-white', copy_title: t('copy_share_link'), copied_title: t('copied_to_clipboard') %>
      <% end %>
    </div>
  </div>
  <div class="flex md:max-h-[calc(100vh-60px)]">
    <div class="overflow-y-auto overflow-x-hidden hidden lg:block w-52 flex-none pr-3 mt-0.5 pt-0.5">
      <% values = @submission.submitters.reduce({}) { |acc, sub| acc.merge(sub.values) } %>
      <% schema = Submissions.filtered_conditions_schema(@submission, values:) %>
      <% schema.each do |item| %>
        <% document = @submission.schema_documents.find { |a| item['attachment_uuid'] == a.uuid } %>
        <% if document.preview_images.first %>
          <scroll-to data-selector-id="page-<%= document.uuid %>-0" class="block cursor-pointer">
            <img src="<%= (document.preview_images.find { |e| e.filename.base.to_i.zero? } || document.preview_images.first).url %>" width="<%= document.preview_images.first.metadata['width'] %>" height="<%= document.preview_images.first.metadata['height'] %>" class="rounded border" loading="lazy">
            <div class="pb-2 pt-1.5 text-center" dir="auto">
              <%= item['name'].presence || document.filename.base %>
            </div>
          </scroll-to>
        <% end %>
      <% end %>
    </div>
    <div id="document_view" class="w-full overflow-y-auto overflow-x-hidden mt-0.5 pt-0.5">
      <div class="pr-3.5 pl-0.5">
        <% fields_index = Templates.build_field_areas_index(@submission.template_fields || @submission.template.fields) %>
        <% submitters_index = @submission.submitters.index_by(&:uuid) %>
        <% submitters_order_index = nil %>
        <% attachments_index = ActiveStorage::Attachment.where(record: @submission.submitters, name: :attachments).preload(:blob).index_by(&:uuid) %>
        <% page_blob_struct = Struct.new(:url, :metadata, keyword_init: true) %>
        <% bg_classes = %w[bg-primary/10 bg-secondary/10 bg-accent/10 bg-primary/20 bg-secondary/20 bg-accent/20 bg-primary/30 bg-secondary/30 bg-accent/30 bg-neutral/10] %>
        <% schema.each do |item| %>
          <% document = @submission.schema_documents.find { |e| e.uuid == item['attachment_uuid'] } %>
          <% document_annots_index = document.metadata.dig('pdf', 'annotations')&.group_by { |e| e['page'] } || {} %>
          <% preview_images_index = document.preview_images.loaded? ? document.preview_images.index_by { |e| e.filename.base.to_i } : {} %>
          <% lazyload_metadata = document.preview_images.first&.metadata || Templates::ProcessDocument::US_LETTER_SIZE %>
          <% (document.metadata.dig('pdf', 'number_of_pages') || (document.preview_images.loaded? ? preview_images_index.size : document.preview_images.size)).times do |index| %>
            <% page = preview_images_index[index] || page_blob_struct.new(metadata: lazyload_metadata, url: preview_document_page_path(document.signed_uuid, "#{index}.jpg")) %>
            <page-container id="<%= "page-#{document.uuid}-#{index}" %>" class="block before:border before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0 before:rounded relative mb-4" style="container-type: size; aspect-ratio: <%= width = page.metadata['width'] %> / <%= height = page.metadata['height'] %>">
              <img loading="lazy" src="<%= page.url %>" width="<%= width %>" class="rounded" height="<%= height %>">
              <div class="top-0 bottom-0 left-0 right-0 absolute">
                <% document_annots_index[index]&.each do |annot| %>
                  <%= render 'submissions/annotation', annot: %>
                <% end %>
                <% fields_index.dig(document.uuid, index)&.each do |(area, field)| %>
                  <% value = values[field['uuid']].presence || (field['default_value'] != '{{date}}' && field['readonly'] == true && field['conditions'].blank? && field['default_value'].present? ? Submitters::SubmitValues.template_default_value_for_submitter(field['default_value'], @submission.submitters.find { |e| e.uuid == field['submitter_uuid'] }, with_time: false) : nil) %>
                  <% value ||= field['default_value'] if field['type'] == 'heading' %>
                  <% submitter = submitters_index[field['submitter_uuid']] %>
                  <% if value.present? %>
                    <% if (mask = field.dig('preferences', 'mask').presence) && signed_in? && can?(:read, @submission) %>
                      <span class="group">
                        <span class="hidden group-hover:inline">
                          <%= render 'submissions/value', font_scale:, area:, field:, attachments_index:, value:, locale: @submission.account.locale, timezone: @submission.account.timezone, submitter:, with_signature_id: %>
                        </span>
                        <span class="group-hover:hidden">
                          <%= render 'submissions/value', font_scale:, area:, field:, attachments_index:, value: Array.wrap(value).map { |e| TextUtils.mask_value(e, mask) }.join(', '), locale: @submission.account.locale, timezone: @submission.account.timezone, submitter:, with_signature_id: %>
                        </span>
                      </span>
                    <% else %>
                      <%= render 'submissions/value', page_width: width, page_height: height, font_scale:, area:, field:, attachments_index:, value: mask.present? ? Array.wrap(value).map { |e| TextUtils.mask_value(e, mask) }.join(', ') : value, locale: @submission.account.locale, timezone: @submission.account.timezone, submitter:, with_signature_id:, with_submitter_timezone:, with_signature_id_reason: %>
                    <% end %>
                  <% elsif field['readonly'] != true && submitter && !submitter.completed_at? %>
                    <% submitters_order_index ||= (@submission.template_submitters || @submission.template.submitters).each_with_index.to_h { |s, i| [s['uuid'], i] } %>
                    <% submitter_index = submitters_order_index[submitter.uuid] %>
                    <% bg_class = bg_classes[submitter_index % bg_classes.size] %>
                    <div class="absolute overflow-visible" style="width: <%= area['w'] * 100 %>%; height: <%= area['h'] * 100 %>%; left: <%= area['x'] * 100 %>%; top: <%= area['y'] * 100 %>%;">
                      <div class="flex h-full w-full bg-opacity-80 justify-center items-center <%= bg_class %>">
                        <%= svg_icon(SubmissionsController::FIELD_ICONS.fetch(field['type'], 'text_size'), class: 'max-h-10 w-full h-full stroke-2 opacity-50') %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </page-container>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="parties_view" class="hidden md:block relative w-full md:w-[26rem] flex-none pt-0.5 pr-4 pl-2 overflow-auto space-y-3">
      <% colors = %w[bg-primary bg-secondary bg-accent bg-primary/80 bg-secondary/80 bg-accent/80 bg-primary/60 bg-secondary/60 bg-accent/60 bg-neutral] %>
      <% submitter_fields_index = (@submission.template_fields || @submission.template.fields).group_by { |f| f['submitter_uuid'] } %>
      <% (@submission.template_submitters || @submission.template.submitters).each_with_index do |item, index| %>
        <% submitter = @submission.submitters.find { |e| e.uuid == item['uuid'] } %>
        <% submitter_name = (@submission.template_submitters || @submission.template.submitters).find { |e| e['uuid'] == submitter&.uuid }&.dig('name') || "#{(index + 1).ordinalize} Submitter" %>
        <% submitter_fields = submitter_fields_index[item['uuid']].to_a %>
        <% submitter_field_counters = Hash.new(0) %>
        <div class="sticky -top-1 bg-base-100 pt-1 -mt-1 z-[1]">
          <div class="group border border-base-300 rounded-lg px-3 py-2.5 mb-1.5 shadow-sm">
            <div class="flex items-start justify-between gap-2">
              <div>
                <div class="flex items-center gap-2">
                  <span class="w-2.5 h-2.5 shrink-0 rounded-full <%= colors[index % 10] %>"></span>
                  <span class="text-base font-semibold leading-5" dir="auto"><%= submitter_name %></span>
                </div>
                <div class="text-xs text-base-content/70 mt-0.5">
                  <%= t('fields', default: 'Fields') %>: <%= submitter_fields.size %>
                </div>
              </div>
              <% if submitter&.completed_at? %>
                <span class="badge badge-success badge-sm"><%= t('completed') %></span>
              <% elsif submitter&.declined_at? %>
                <span class="badge badge-error badge-sm"><%= t('declined') %></span>
              <% elsif @submission.expired? %>
                <span class="badge badge-warning badge-sm"><%= t('expired') %></span>
              <% else %>
                <span class="badge badge-ghost badge-sm"><%= t('pending') %></span>
              <% end %>
            </div>
            <% if signed_in? && can?(:update, @submission) && submitter && !submitter.completed_at? && !submitter.declined_at? && !@submission.archived_at? && !@submission.expired? && !submitter.start_form_submission_events.any? %>
              <div class="mt-2">
                <%= link_to edit_submitter_path(submitter), class: 'btn btn-xs btn-ghost px-1.5', data: { turbo_frame: 'modal' } do %>
                  <%= svg_icon('pencil', class: 'w-4 h-4') %>
                  <span><%= t('edit') %></span>
                <% end %>
              </div>
            <% end %>
            <% if submitter&.name.present? %>
              <div class="flex items-center space-x-1 mt-2 text-sm">
                <%= svg_icon('user', class: 'w-4 h-4 shrink-0') %>
                <span class="break-all"><%= submitter.name %></span>
              </div>
            <% end %>
            <% if submitter&.email.present? %>
              <div class="flex items-center space-x-1 mt-1 text-sm">
                <%= svg_icon('mail', class: 'w-4 h-4 shrink-0') %>
                <span class="break-all"><%= submitter.email %></span>
              </div>
            <% end %>
            <% if submitter&.phone.present? %>
              <div class="flex items-center space-x-1 mt-1 text-sm">
                <%= svg_icon('phone', class: 'w-4 h-4 shrink-0') %>
                <span><%= submitter.phone %></span>
              </div>
            <% end %>
            <div class="flex items-start space-x-1 mt-1 text-sm">
              <% if @submission.expire_at? && submitter && !submitter.completed_at? %>
                <%= svg_icon('clock_exclamation', class: 'w-4 h-4 mt-0.5 shrink-0') %>
              <% else %>
                <%= svg_icon('writing', class: 'w-4 h-4 mt-0.5 shrink-0') %>
              <% end %>
              <span>
                <% if submitter&.declined_at? %>
                  <%= t('declined_on_time', time: l(submitter.declined_at.in_time_zone(@submission.account.timezone), format: :short, locale: @submission.account.locale)) %>
                <% elsif submitter %>
                  <% if submitter.completed_at? %>
                    <%= l(submitter.completed_at.in_time_zone(@submission.account.timezone), format: :long, locale: @submission.account.locale) %>
                  <% elsif @submission.expire_at? %>
                    <% if @submission.expired? %>
                      <%= t(:expired) %>
                    <% else %>
                      <%= t('expire_on_time', time: l(@submission.expire_at.in_time_zone(@submission.account.timezone), format: :short, locale: @submission.account.locale)) %>
                    <% end %>
                  <% else %>
                    <%= t('not_completed_yet') %>
                  <% end %>
                <% else %>
                  <%= t('not_invited_yet') %>
                <% end %>
              </span>
            </div>
            <% if submitter&.declined_at? %>
              <div class="mt-2 text-sm">
                <span class="font-medium"><%= t('reason') %>:</span>
                <%= simple_format(h(submitter.submission_events.find_by(event_type: :decline_form).data['reason'])) %>
              </div>
            <% end %>
            <div class="mt-2 space-y-1.5">
              <% if signed_in? && submitter && submitter.email && !submitter.completed_at && !@submission.archived_at? && can?(:update, @submission) && Accounts.can_send_emails?(current_account) && !@submission.expired? && !submitter.declined_at? %>
                <%= button_to button_title(title: submitter.sent_at? ? t('re_send_email') : t('send_email'), disabled_with: t('sending')), submitter_send_email_index_path(submitter_slug: submitter.slug), class: 'btn btn-sm btn-primary w-full' %>
              <% end %>
              <% if signed_in? && submitter && submitter.phone && !submitter.completed_at && !@submission.archived_at? && can?(:update, @submission) && !@submission.expired? && !submitter.declined_at? %>
                <%= render 'submissions/send_sms_button', submitter: %>
              <% end %>
              <% if signed_in? && submitter && !submitter.completed_at? && !@submission.archived_at? && can?(:create, @submission) && !@submission.expired? && !submitter.declined_at? %>
                <a class="btn btn-sm btn-primary w-full" target="_blank" href="<%= submit_form_path(slug: submitter.slug) %>">
                  <%= t('sign_in_person') %>
                </a>
              <% end %>
              <% if signed_in? && submitter && submitter.completed_at? && submitter.email == current_user.email && submitter.completed_at > 1.month.ago && can?(:update, @submission) %>
                <%= button_to t('resubmit'), submitters_resubmit_path(submitter), method: :put, class: 'btn btn-sm btn-primary w-full', form: { target: '_blank' }, data: { turbo: false } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="px-1 mb-5 border border-base-300 rounded-lg bg-base-100/60">
          <% submitter_fields.each do |field| %>
            <% submitter_field_counters[field['type']] += 1 %>
            <% value = values[field['uuid']].presence || (field['default_value'] != '{{date}}' && field['readonly'] == true && field['default_value'].present? ? Submitters::SubmitValues.template_default_value_for_submitter(field['default_value'], @submission.submitters.find { |e| e.uuid == field['submitter_uuid'] }, with_time: false) : nil) %>
            <% next if value.blank? %>
            <% next if field['type'] == 'heading' || field['type'] == 'strikethrough' %>
            <div class="px-2 py-2.5 border-b last:border-b-0 border-base-300">
              <div class="flex items-start justify-between gap-2">
                <div class="text-xs font-medium uppercase mb-1 break-words" dir="auto">
                  <%= field['name'].presence || "#{t("#{field['type']}_field")} #{submitter_field_counters[field['type']]}" %>
                </div>
                <span class="badge badge-ghost badge-xs"><%= field['type'] %></span>
              </div>
              <div dir="auto" class="text-sm leading-5">
                <% if field['type'].in?(%w[signature initials]) %>
                  <% attachment = attachments_index[value] %>
                  <% if attachment.present? %>
                    <a target="_blank" href="<%= attachment.url %>" class="flex items-center gap-2 bg-base-200 rounded px-2 py-1.5 hover:bg-base-300 transition-colors">
                      <img class="object-contain rounded bg-base-100 px-1 py-0.5 max-h-10 max-w-[9rem]" height="<%= attachment.metadata['height'] %>" width="<%= attachment.metadata['width'] %>" src="<%= attachment.url %>" loading="lazy">
                      <span class="text-xs text-base-content/70"><%= t('view') %></span>
                    </a>
                  <% end %>
                <% elsif field['type'].in?(['image', 'stamp', 'kba']) && attachments_index[value]&.image? %>
                  <img class="object-contain mx-auto max-h-24 rounded" style="max-height: 130px" height="<%= attachments_index[value].metadata['height'] %>" width="<%= attachments_index[value].metadata['width'] %>" src="<%= attachments_index[value].url %>" loading="lazy">
                <% elsif field['type'].in?(['file', 'payment', 'image']) %>
                  <div class="flex flex-col justify-center gap-0.5">
                    <% Array.wrap(value).each do |val| %>
                      <% next unless attachments_index[val] %>
                      <a target="_blank" class="flex items-center space-x-1 break-all hover:underline" href="<%= attachments_index[val].url %>">
                        <%= svg_icon('paperclip', class: 'w-4 h-4') %>
                        <span>
                          <%= attachments_index[val].filename %>
                        </span>
                      </a>
                    <% end %>
                  </div>
                <% elsif field['type'] == 'checkbox' %>
                  <%= svg_icon('check', class: 'w-6 h-6') %>
                <% else %>
                  <% if field['type'] == 'number' %>
                    <% value = NumberUtils.format_number(value, field.dig('preferences', 'format')) %>
                  <% elsif field['type'] == 'date' %>
                    <% value = TimeUtils.format_date_string(value, field.dig('preferences', 'format'), @submission.account.locale) %>
                  <% end %>
                  <% if (mask = field.dig('preferences', 'mask').presence) %>
                    <% if signed_in? && can?(:read, @submission) %>
                      <div class="[&:not(:hover)]:after:content-[attr(data-value)] block whitespace-pre-wrap break-words group" data-value="<%= Array.wrap(value).map { |e| TextUtils.mask_value(e, mask) }.join(', ') %>"><span class="hidden group-hover:block"><%= Array.wrap(value).join(', ') %></span></div>
                    <% else %>
                      <div class="whitespace-pre-wrap break-words"><%= Array.wrap(value).map { |e| TextUtils.mask_value(e, mask) }.join(', ') %></div>
                    <% end %>
                  <% else %>
                    <div class="whitespace-pre-wrap break-words"><%= Array.wrap(value).join(', ') %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <toggle-visible data-element-ids="<%= %w[document_view parties_view].to_json %>">
    <label class="md:hidden btn btn-sm btn-neutral text-white text-base z-10 fixed bottom-2 right-2 h-16 shadow-lg">
      <input type="checkbox" class="peer hidden" data-action="click:toggle-visible#trigger">
      <span class="peer-checked:hidden flex items-center space-x-2">
        <%= svg_icon('users', class: 'w-8 h-8') %>
        <span><%= t('signers') %></span>
      </span>
      <span class="hidden peer-checked:flex items-center">
        <%= svg_icon('chevron_left', class: 'w-8 h-8') %>
        <span><%= t('back') %></span>
      </span>
    </label>
  </toggle-visible>
</div>
<% unless request.headers['HTTP_X_TURBO'] %>
  <%= render 'scripts/autosize_field' %>
<% end %>
