<!DOCTYPE html>
<html data-theme="<%= current_theme_name %>" data-theme-scope="<%= current_theme_scope %>" lang="<%= I18n.locale %>" class="<%= 'dark' if current_theme_name == 'docuseal_dark' %>">
  <head>
    <%= render 'layouts/head_tags' %>
    <% if Docuseal.enable_pwa? %>
      <link rel="manifest" href="/manifest.json">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <% if ENV['ROLLBAR_CLIENT_TOKEN'] %>
      <meta name="rollbar-token" content="<%= ENV.fetch('ROLLBAR_CLIENT_TOKEN', nil) %>">
      <%= javascript_pack_tag 'rollbar', 'application', defer: true %>
    <% else %>
      <%= javascript_pack_tag 'application', defer: true %>
    <% end %>
    <% if canonical_url = content_for(:canonical_url) %>
      <link href="<%= canonical_url %>" rel="canonical">
    <% end %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <% if params[:modal].present? %>
      <% url_params = Rails.application.routes.recognize_path(params[:modal], method: :get) %>
      <% if url_params[:action] == 'new' %>
        <open-modal src="<%= params[:modal] %>"></open-modal>
      <% end %>
    <% end %>
    <turbo-frame id="modal"></turbo-frame>
    <turbo-frame id="drawer"></turbo-frame>
    <%= render 'shared/navbar' %>
    <% if flash.present? %><%= render 'shared/flash' %><% end %>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-8">
      <%= yield %>
    </div>
    <%= render 'shared/body_scripts' %>
    <%# GANDHI NUCLEAR STRIKE: <attribution-capture> element REMOVED. %>
    <%# This surveillance custom element harvested gclid, fbclid, twclid, UTM params, %>
    <%# GA cookies, referrer data, and silently POSTed it all to /attribution_ids. %>
    <%# This is a SEAL LEDGER, not a social network. Seal documents, not user fates. %>
    <%# For privacy-respecting analytics, see: https://github.com/seuros/kaunta %>
  </body>
</html>
